#list-example {
  position: sticky;
  top: 1rem;
}
.container h2{
  margin-bottom: 20px;
}

.scrollspy-example {
  position: relative;
  height: calc(90vh - 100px); 
  overflow-y: scroll;
  padding: 2rem;
  background-color: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 0.25rem;
}

.scrollspy-example h4 {
  margin-top: 2rem;
}

.scrollspy-example p,
.scrollspy-example ul {
  margin-bottom: 1.5rem;
}

.list-group-item.active {
  background-color: #007bff;
  border-color: #007bff;
}