<div class="container text-center hero-section">
  <div class="row align-items-center">
    <div class="col-md-6 text-start mb-4 mb-md-0">
      <h1 class="mb-3">Hi, I'm <br><span class="fw-bolder text-primary d-inline">Nadeem Ali Mohammed!</span></h1>
      <p class="mb-4">Passionate Front-End Developer specializing in <strong>Angular, React, TypeScript, and Bootstrap</strong>. Dedicated to building dynamic, user-friendly interfaces that blend performance, accessibility, and modern design.</p>
      <div class="d-flex flex-wrap">
        <a href="#projects" class="btn btn-primary me-2 mb-2 mb-md-0">View My Work</a>
        <a href="/assets/resume-nadeemali.mohammed.pdf" class="btn btn-dark mb-2 mb-md-0" download>Download Resume</a>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/my-photo.jpg" class="hero-image img-fluid rounded-circle" alt="My Picture">
    </div>
  </div>
</div>