.fw-bolder.text-primary {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #4a90e2, #9013fe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-section {
  height: 95vh; 
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 50px;
}

.hero-image {
  width: 75%; 
  max-width: 700px; 
  height: auto; 
}

@media (max-width: 1040px) {
  .hero-section {
    padding-top: 80px;
    padding-bottom: 20px; 
    height: auto; 
  }

  .hero-image {
    width: 100%; 
    max-width: 300px; 
  }
}