<div class="container my-5">
  <h2>Education</h2>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Web Development – Front-End Design
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <div class="card d-flex flex-row align-items-center" style="width: 100%;">
            <img src="assets/georgebrown-college.jpg" class="card-img-left" alt="George Brown College" style="width: 150px; height: auto; margin-right: 15px;">
            <div class="card-body">
              <h5 class="card-title"><strong>George Brown College</strong></h5>
              <p class="card-text">Post-graduation</p>
              <p class="card-text">Sep 2024 - Present</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Service Innovation and Design Thinking
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="card d-flex flex-row align-items-center" style="width: 100%;">
            <img src="assets/ictc.jpg" class="card-img-left" alt="ICTC" style="width: 150px; height: auto; margin-right: 15px;">
            <div class="card-body">
              <h5 class="card-title"><strong>Information and Communications Technology Council (ICTC)</strong></h5>
              <p class="card-text"> WIL (Work-Integrated Learning) Program</p>
              <p class="card-text">Jan 2025 - Present</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Quality Engineering and Management
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="card d-flex flex-row align-items-center" style="width: 100%;">
            <img src="assets/lambton-college.jpg" class="card-img-left" alt="Lambton College" style="width: 150px; height: auto; margin-right: 15px;">
            <div class="card-body">
              <h5 class="card-title"><strong>Lambton College</strong></h5>
              <p class="card-text">Post-graduation</p>
              <p class="card-text">Sep 2015 - Apr 2017</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
          Electrical and Electronics Engineering
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="card d-flex flex-row align-items-center" style="width: 100%;">
            <img src="assets/osmania-university.jpg" class="card-img-left" alt="Osmania University" style="width: 150px; height: auto; margin-right: 15px;">
            <div class="card-body">
              <h5 class="card-title"><strong>Osmania University</strong></h5>
              <p class="card-text">Bachelors</p>
              <p class="card-text">Sep 2011 - May 2015</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>